// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #537ec5;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #525252;
$light-gray: #F0F4F5;
$pink: #FAB3A9;
$green: #64B6AC;
$green-foot: #5FB5AD;

