// Brunch Club

.brunch-club {
  background-color: white;
  padding: 36px;
  justify-content: center;
  text-align: center;

  .brunch-club-img img {
    padding: 20px;
    width: 80%;
    height: 80%;
    object-fit: cover;
  }
}

// Places grid

.recent {
  display: flex;
  justify-content: center;
  margin: 50px 0 0px 0;
  color: black;
}
.events {
  background-color: white;
  text-align: center;
  justify-content: center;
  padding: 66px 36px 36px 36px;
}

.flex-books {
  display: flex;
  padding: 40px;

  img {
    margin: auto;
    display: flex;
    width: 85%;
    height: 80%;
    object-fit: cover;
  }
}

.flex-events {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-gap: 32px;
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 30px;
  img {
    padding: 20px;
    margin: auto;
    display: flex;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

.button a {
  justify-content: center;
  font-weight: bold;
  padding-bottom: 8px;
  color: $gray;
  background-color: transparent;
  border-bottom: solid 2px $gray;
}

.container {
  text-align: center;

  .button {
    margin: 24px;
  }
}

// Banner & search bar

.banner {
  height: 60vh;
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), image-url("background-home-tero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-select, input {
  width: 200px;
  height: 40px;
  padding-left: 12px;
  border-style: none;

  select {
  display: none;
  }
}

.go-button-home {
  margin-left: 6px;
  appearance: none;
  height : 45px;
  background-color: white;
  border-radius: none;
  border: none;

  &:hover{
    background-color: $blue;
    color: white;
  }
}

.text-blue {
  color: $blue;
}

// Smallest device

@media (min-width: 100px) and (max-width: 575px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)

@media (min-width: 992px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)

@media (min-width: 1200px) {
  .card-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
