.card-grid-search {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 32px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.search-page {
  padding-left: 25px;

  #map {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 70px;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .search-cards {
    padding: 0;
  }
}

.search-form {
  padding: 5px;

  .search-dropdown {
    padding: 5px;
    background-color: transparent;
    .form-group {
      padding-left: 20px;
      padding-right: 20px;
      background-color: white;

      label {
        margin-left: 15px;
        font-family: $headers-font;
      }
    }
  }

  .search-attribute {
    justify-content: space-between;
    margin: 10px 5px;
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    border-radius: 2px;
    color: $gray;

    .form-group {
      padding-left: 10px;
      padding-right: 10px;
      background-color: transparent;
      border-color: $gray;
      border: solid 1px;

      label {
        margin-left: 15px;
        font-family: $headers-font;
      }
    }
  }

  .checkboxes-container {
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
  }

  .find {
    appearance: none;
    font-family: $headers-font;
    border: none;
    height: auto;
  }

  .location-searchbar {
    margin: 5px;
    width: 280px;
    font-weight: bold;

    input {
      font-family: $headers-font;
      border: none;
      height: 44px;
    }
  }
}


.select-box {
  select {
    border: none;
    color: $gray;
    border-radius: none !important;
    appearance: none;
    background-color: white;
    font-family: $headers-font;
    padding: 10px;
    background-image: "../../images/arrow_search.png";
  }

  option {
    border-radius: none !important;
  }
}

.over-select {
  appearance: none;
  border-radius: none !important;
  font-weight: lighter;
}

.search-tags {
  background-color: white;
  justify-content: left;
  padding: 10px;
}

.search-categories {
  background-color: white;
  justify-content: left;
  padding: 10px;
}

.multiselect {
  width: 200px;
}

.search-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.select-box {
  position: relative;
}

.select-box select {
  width: 100%;
  font-weight: bold;
}

.over-select {
  border-radius: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.arrow-search {
  z-index: 100;
}

#checkboxes1, #checkboxes2  {
  display: none;
}

#checkboxes1 {
  label {
    display: block;

    &:hover {
      box-shadow: 0 0 1px rgb(150, 150, 150);
    }
  }
}

#checkboxes2 {
  label {
    display: block;

    &:hover {
      box-shadow: 0 0 1px rgb(150, 150, 150);
    }
  }
}

.search-results {
  text-align: center;
  h6 {
    padding-top: 30px;
  }
}

#fields-selected {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;

  .field-selected {
    border: 1px solid $blue;
    padding-left: 10px;
    padding-right: 10px;
    font-family: $headers-font;
    margin: 5px;
    border-radius: 5px;
    color: $blue;
  }
}

.form-control {
  color: $blue;
  border-color: $blue;
}

 // Toggle button map

.map-text-color {
  color: $gray !important;
}

.show-map {
  display: flex;
  text-align: left;
  width: 100px;
  color: $blue;
  z-index: 100;
  font-family: $headers-font;
  font-size: 16px;
}

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

#label-text1, #label-text2 {
  margin: 0 8px;
}

// Toggle button open now

.show-open-now {
  display: flex;
  margin-left: 20px;
  text-align: left;
  width: 150px;
  height: 30px;
  color: $gray;
  z-index: 100;
  font-family: $headers-font;
  font-size: 16px;
}

.not-open-opacity {
  opacity: 0.4;
}

.not-open-text-color {
  color: $blue !important;
}

#toggle2 {
  background: $gray;
}

#active-bg2 {
  background: $blue;
}

.switch {
  display: flex;
}
