.search-page {
  padding-left: 25px;

  #map {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 70px;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .search-cards {
    padding: 0;
  }
}
  .search-tags {
    background-color: white;
    justify-content: left;
    padding: 10px;
  }
  .search-categories {
    background-color: white;
    justify-content: left;
    padding: 10px;
  }
  .search-attribute {
    background-color: white;
    justify-content: left;
    padding: 10px;
  }

