.places {
  background-color: white;
  padding-bottom: 20px;

  .flex-main-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding-right: 102px;
    padding-left: 102px;
    padding-top: 20px;
  }

  .flex-title {
    padding-top: 20px;
    padding-bottom: 20px;
    .title h4 {
      font-size: 26px;
    }
    .subtitle p {
      font-size: 18px;
      font-weight: lighter;
    }
  }

  .content-info{
    padding-left: 102px;
    padding-right: 102px;
    background-color: transparent;

    .flex-content {
      text-align: justify;
      text-indent: 24px;
      padding-bottom: 8px;
      font-size: 18px;
      line-height: 32px;
    }

    .flex-info-place {
      border-radius: 3px;
      text-align: center;
      font-size: 16px;
      font-weight: lighter;
      background-color: rgba( 5, 5, 5, 0.05);

      .info {
        padding: 20px;
      }
    }

    #deliveroo-btn {
      margin-top: 8px;
      margin-bottom: 8px;
      width: 100%;
      color: #04cfbb;
      text-decoration: none;
      border-color: #04cfbb;

      &:hover {
        color: white;
        background-color: #04cfbb;
      }
    }

    #booking-btn {
      margin-top: 8px;
      margin-bottom: 8px;
      width: 100%;
      color: $blue;
      text-decoration: none;
      border-color: $blue;

      &:hover {
        color: white;
        background-color: $blue;
      }
    }
  }

  .icons {
    font-size: 22px;
    padding-left: 120px;

    .first {
      margin-right: 2px;
    }

    a {
     color: rgb(100, 100, 100);

     &:hover {
      color: #5FB5AD;
     }
    }
  }
}

.brunch-club-show {
  margin-top: 30px;

  img {
  width: 320px;
  }
}

.event-img {
  display: flex;
  justify-content: center;

  img {
    width: 85%;
    height: 85%;
    object-fit: cover;
  }
}

.imgs img {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-right: 40px;
  display: flex;
  justify-content: left;
  object-fit: cover;
}

.newsletter-show {
  width: 100vw;
  z-index: -0.5;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 75px;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 20px;
  color: $blue;
  border-radius: 3px;
}

.dropdown-over {
  width: 130px;
  margin: 0 auto;
  i {
    padding-top: 5px;
    padding-left: 6px;
  }
}

.dropdown-over:hover .dropdown-content {
  display: block;
}

