<div class="flex-footer" style="background-color: transparent;">
  <footer>
    <div class="flex-content py-3">
      <div class="flex-description">
        BRUSSELS' KITCHEN
        <p class="mb-0">Belgian blog for food hotspots. Restaurants, wine bars, tea rooms, markets, organic eateries, etc in Brussels. Georgeous places for the eyes, amazing food for the taste, and new experiences just for pleasure. Culinary events & experiences. Charming hotels and rooms in Brussels.</p>
      </div>
    </div>
    <div class="flex-bluebox py-5" style="font-family: 'Open Sans', sans-serif;">
      <div class="flex-center">
        <div class="flex-footer-group-address col-4">
          <ul class="footer-list" style="list-style: none;">
            <li><%= link_to "All Adresses", root_path %></li>
            <li><a href="#">Restaurants</a></li>
            <li><a href="#">Bars</a></li>
            <li><a href="#">Cantines</a></li>
            <li><a href="#">Cafés</a></li>
            <li><a href="#">Brunchs</a></li>
          </ul>
        </div>
        <div class="flex-footer-group-bookings col-4" >
          <ul class="footer-list" style="list-style: none;">
            <li><a href="#">Tous les events</li>
            <li><a href="#">Le Brunch Club</a></li>
            <li><a href="#">Eatcolor 2013</a></li>
            <li><a href="#">Eatcolor 2017</a></li>
          </ul>
        </div>
        <div class="flex-footer-group-social col-2">
          <ul class="footer-social" style="list-style: none;">
            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="flex-rights">
      <h5><light>© 2019 BIM. All rights reserved.</light></h5>
      </div>
    </div>
  </footer>
</div>
