<div class="show-open-now">
  <label class="label">
    <div class="toggle" id="toggle2">
      <input class="toggle-state" type="checkbox" name="check" value="check" id="show-open-now-box"/>
      <div class="toggle-inner">
        <div class="indicator"></div>
      </div>
      <div class="active-bg" id="active-bg2"></div>
    </div>
    <div id="label-text2">Open now</div>
  </label>
</div>
