<div class="show-map">
  <label class="label">
    <div class="toggle" id="toggle1">
      <input class="toggle-state" type="checkbox" name="check" value="check" id="show-map-box"/>
      <div class="toggle-inner">
        <div class="indicator"></div>
      </div>
      <div class="active-bg" id="active-bg1"></div>
    </div>
    <div id="label-text1">Show map</div>
  </label>
</div>
