<div class="card-grid-events justify-content-center" >
    <% @events.each do |event| %>
      <div class="card-event">
        <%= link_to cl_image_tag(event.images.where(main: true).first.photo, crop: :fit), event_path(event), class: "card-event" %>
        <div class="card-event-infos" style="text-decoration: none;">
          <h2><%= link_to event.title, event_path(event), class: "text-dark" %></h2>
        </div>
        <div class="card-event-content">
          <p><%= truncate(event.content.gsub("<br/>", ""), :length => 140) %></p>
          <% if event.state == "upcoming" %>
            <div class="button-event">
              <a href="">Get tickets</a>
            </div>
          <% else %>
            <h6>Closed</h6>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
