<div class="container">
  <div class="success">
    <div class="text1">
      <h3>Your order will be delivered to you shortly...</h3>
    </div>
    <div class="text2">
      <h1>Thank you for your attention</h1>
    </div>
  </div>
</div>
