<div class="brunch-club">
  <h3>The Brunch Club</h3>
  <div class="brunch-club-img">
    <%= image_tag "images.jpeg" %>
  </div>
  <div class="button">
    <a href="#">See more</a>
  </div>
</div>
<!-- NEWSLETTER COMPONENT -->
<div class="events">
  <h3>Brussels' Kitchen's Events</h3>
  <div class="row images-events" id="images-events">
    <div class="flex-events-img1 col-7">
      <%= image_tag "images.jpeg" %>
    </div>
    <div class="flex-events-img2 col-5">
      <%= image_tag "images.jpeg" %>
    </div>
  </div>
  <div class="button">
    <a href="#">See more</a>
  </div>
</div>

