<div class="books-grid">
  <div class="card-book">
    <%= link_to image_tag("book1.jpg"), books_path, class: "card-book" %>
    <div class="card-book-content">
      <h5>The best places to eat out with style</h5>
      <h6 style="color:blue;">19,95€</h6>
    </div>
  </div>
  <div>
    <%= link_to image_tag("book2.jpg"), books_path, class: "card-book" %>
    <div class="card-book-content">
      <h5>New hotspots to eat out with style</h5>
      <h6 style="color:blue;">19,95€</h6>
    </div>
  </div>
</div>


