.button-event {
  width: 100px;
  border: 1px solid $blue;
  color: $blue;
  margin: 30px auto 0 auto;
  padding: 6px;

  &:hover {
    background-color: $blue;
    color: white;
    transition: 0.5s;
  }

  a {
    font-size: 14px;
  }
}
