.button-event {
  width: 100px;
  border: 1px solid $blue;
  color: $blue;
  margin: 30px auto 0 auto;
  padding: 6px;

  &:hover {
    background-color: $blue;
    color: white;
    transition: 0.5s;
  }

  a {
    font-size: 14px;
  }
}

.go-button {
  width: 150px;
  appearance: none;
  height : 45px;
  border: 1px solid $gray;
  background-color: $blue;
  color: white !important;
  border-radius: none;
  &:hover {
    background-color: $blue;
    color: white;
    opacity: 1.2;
  }
}
