.books-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 2fr;
  margin-top: 90px;
  margin-bottom: 50px;
  align-self: center;
  justify-self: center;
}

.card-book {
  background-color: white;
  width: 250px;
  padding-top: 30px;
  align-self: right;
  justify-self: right;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card-book-content {
  padding: 20px 30px;

  h6 {
    margin: 10px;
    color: $blue;
    padding-top: 10px;
    text-align: center;
  }
}

.book-img {
  display: flex;
  justify-content: center;

  img {
    height: 40%;
    width: 40%;
  }
}

.basket {
  align-self: center;
  justify-self: center;
}

