.card-event {
  overflow: hidden;
  background: white;
  margin: 10px 0 0 0;

  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }

  a {
    text-decoration: none;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
  }

  p, span {
    font-size: 12px;
    opacity: .7;
    margin: 0;
  }

  .card-event-content {
    padding: 10px 30px 30px 30px;
    text-align: center;
    justify-content: center;

    h6 {
    padding-top: 30px;
    font-weight: lighter;
    }
  }

  .card-event-infos {
    color: black;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    text-decoration: none;
  }

  .card-resto-subtitle {
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
  }
}

.card-event > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 24px;
  margin-top: 90px;
  margin-bottom: 40px;
}
