.custom-navbar {
  height: 72px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align:center;
  float: none;
  vertical-align: top;
  border-bottom: 1px solid #EBEBEB;
  font-color: gray;
}

#navbar-title {
  font-size: 30px;
  padding: 8px 5px 5px 5px;
  letter-spacing: 0.07em;
  font-family: "Bebas Neue";
  font-weight: lighter;
  &:hover {
    color: black;
  }
}
.navbar-element {
  padding: 2px 5px;
  color: $blue;
  font-family: $headers-font;
}

.navbar-element_FR {
  margin-right: 10px;
  padding: 2px 5px;
  font-family: $headers-font;
}

.navbar-element_EN {
  margin-left: 0px;
  border: 1px solid $gray;
  padding: 2px 5px;
  font-family: $headers-font;
}

.search-navbar {
  font-family: $headers-font;
  margin: 20px;
  color: $blue;
  display: flex;
  width: 100px;
  &:hover{
    opacity: 0.8;
  }
}
