.custom-navbar {
  height: 72px;
  background-color: white;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align:center;
  float: none;
  vertical-align: top;
  border-bottom: 1px solid #EBEBEB;
  font-color: gray;
}

#navbar-title {
  font-size: 30px;
  padding: 8px 5px 5px 5px;
  letter-spacing: 0.07em;
  font-family: "Bebas Neue";
  font-weight: lighter;
  &:hover {
    color: black;
  }
}
.navbar-element {
  padding: 2px 5px;
  color: blue;
}

.navbar-element_FR {
  margin-right: 10px;
  padding: 2px 5px;

}

.navbar-element_EN {
  margin-left: 0px;
  border: 1px solid gray;
  padding: 2px 5px;
}
