.newsletter {
  background-color: pink;
  display: flex;
  padding: 30px;
  justify-content: center;
}

.email {
  width: 350px;
  border-bottom: solid 2px black;
  margin: 0 10px;
}

.go {
  width: auto;
  border-bottom: solid 2px black;
  margin: 0 10px;
}
