<div class="map-pic">
  <%= cl_image_tag(place.images.where(main: true).first.photo, crop: :fit) %>
</div>
<div class="map-txt">
  <h2><%= place.title %></h2>
  <p><%= place.subtitle %></p>
  <p><%= place.address %></p>
</div>
