<% if place.images.where(main: true).first.photo %>
  <div class="map-pic">
    <%= link_to cl_image_tag(place.images.where(main: true).first.photo, crop: :fit), place_path(place), class: "map-pic" %>
  </div>
<% end %>
<div class="map-txt">
  <h2><%= place.title %></h2>
  <p><%= place.subtitle %></p>
  <p><%= place.address.gsub(",", "<br/>").html_safe %></p>
  <% if @closed_soon_hash[place] %>
    <div class="text-center" id="closing-soon-map">
      <p>Closing soon...</p>
    </div>
  <% end %>
</div>
